# Personal access token
GIT_TOKEN=your_token_here

# Username (needed for basic auth test)
GIT_USER=your_user_handle

# Override private repo URL if needed
# PRIVATE_REPO_URL=https://github.com/tom1299/private
